

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    color:#777;
    background-color: black;
}

.header {
    height: 100vh;
    background-image: url(../img/svg/svg/bgtop.svg) , url(../img/bg.png);
    background-size: cover;
    background-position: top;
    position: relative;
}

.menu {
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left:0;
    width: 100vw;
    position:fixed;
    z-index: 20;
    
   
}

.menu_item {
    
    color:white;
    float: right;
    list-style-type: none;
    margin-right: 50px;
    transition: width 2s;
  
}
.menu_item li {
    font-family: 'Roboto-Medium', sans-serif;
    text-decoration: none;
    display: block;
    list-style-type: none;
    float: left;
    margin-right: 50px;
    padding:20px 0px;
    text-transform: uppercase;

   
    
}

.menu_item :hover {
    border-bottom: solid 4px red;
 

    
  
}

.heading-primary-text {
    display: block;
    color:white;
    position: absolute;
    top: 50%;
    left: 6%;
   line-height: 1em;
}

.heading-primary-main {
    font-family: marydale;
    display: block;
    font-size: 4rem;
    letter-spacing: 0.3rem;
}

.contact-me {
    color:white;
    font-family: 'Roboto-thin', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    padding:0.5rem 2rem 0.5rem 0rem;
    transition: padding 0.5s;
    opacity:8;
    letter-spacing: 0.1rem;
   
    
.arrow {
    width:1.5rem;
    margin-left: 1rem;
    
   
}
&:hover {
   padding-left: 3rem;
   opacity: 10;
   color: rgb(37, 37, 37);
}
}


.heading-primary-sub{
   font-family: 'Roboto-thin', sans-serif;
   display: block;
   font-size: 1rem;
   line-height: 150%;
   font-weight: 5;
   width: 60%;
   padding: 4% 0 2% 0 ;
   letter-spacing: 0.1rem;
   color:darkgray;
}



 .social {
    
     position: absolute ;  
     width:100vw;
     top: 85%;  
     display: block;  
  .social-ico {
      margin-right: 10%;
      left:50%;
  }  
     
.icon {float: right;
    margin-right: 30px;
    list-style: none;
  
}

.icon:hover {
    opacity: 0.3;
}

    }

    @keyframes jump { 93% { top: 95%; } 50% { top: 90%; } 100% { top: 95%; } }
    
.scroll {
    color:red;
    position: absolute;
    top: 95vh;
    left: 50vw;
    animation: jump 3s infinite;
        
    img {
        height: 35px;
        
    }
}


.content {
    background-image: url(../img/svg/svg/bg2.svg);
    background-size: cover;
}

.content-head {
    margin-top:8%;
    margin-bottom: 2%;
    text-align: center;
    font-family : Marydale;
    font-size : 3rem;
    line-height : 54px;
    text-transform : uppercase;
    color : #FFFFFF;
   





}

.content-p{
    margin-left:20%;
    margin-right: 20%;
    text-align: center;
    font-family: 'Roboto-thin', sans-serif;
    display: block;
    margin-bottom: 2%;
   letter-spacing: 0.1rem;
   line-height: 1.8rem;

  }


  .content-head-sub {
    margin-top:-20px;
    text-align: center;
    font-family :Roboto-black, sans-serif;
    font-size : 3rem;
    line-height : 54px;
    color : #FFFFFF;

}
  


.main-content{
    
}
 .content-2 {
    height: 30em;
    width: 100vw;
    background-image:  linear-gradient(to bottom right,#00000091,#000000a2) ,url(../img/svg/svg/bgtop.svg), url(../img/comp.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    
    
    .back-plate {
        background-color: rgba(0, 0, 0, 0.342);
        height: 20rem;
        width:50rem;
        position: absolute;
        margin-top: 5rem;
       
    }
    .atom 
    {  height: 30rem;
        
        position: absolute;
		-webkit-animation: rotation 10s infinite linear;
}



@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
 }

